<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Tylerfy - I can haz imagez</title>

    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/content/css/normalize.css">
    <link rel="stylesheet" href="/content/css/app.css">
</head>
<body>

    <h1><img src="/Content/Images/logo.png" alt="Tylerfy - I can haz imagez" /></h1>
    
    <section class="try">
        <h2>Try it now!</h2>
        <a class="btn" href="http://tylerfy.com/g/200/300" target="_blank">http://tylerfy.com/g/200/300</a>
    </section>

    <section class="intro">
        <div class="container">
            <div class="features">
                <h2>Fully featured</h2>
                <ul>
                    <li>Ross Tyler</li>
                    <li>Any size</li>
                    <li>Over 20 images</li>
                    <li>Useful for development</li>
                    <li>Handy bookmarklet</li>
                </ul>
            </div>

            <div class="cube-wrapper">
                <div class="cube">
                    <div class="cube-face cube-face-front"></div>
                    <div class="cube-face cube-face-top"></div>
                    <div class="cube-face cube-face-bottom"></div>
                    <div class="cube-face cube-face-left"></div>
                    <div class="cube-face cube-face-right"></div>
                    <div class="cube-face cube-face-back"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="bookmarklet">
        <div class="container">
            <h2>Bookmarklet</h2>

            <p><em>Tylerfy</em> any website with our handy bookmarklet. <br/>Just drag it your bookmarks bar and it will replace all images with Tyler.<br/>Enjoy!</p>

            <a href="#" class="btn btn-bounce">Drag to bookmarks</a>

        </div>
    </section>

    <footer>
        <div class="container">
            Tylerfy is brought to you by Ian Routledge, Simon Mawdsley &amp; Andrew Roland. &copy; Amaze 2014
            <a href="http://www.amaze.com/" target="_blank"><img class="amaze" src="/Content/Images/amaze.png" alt="Amaze" /></a>
        </div>
    </footer>

    <script src="/content/js/jquery-1.11.1.js"></script>
    <script src="/Content/Js/prefixfree.min.js"></script>
    <script src="/Content/Js/app.js"></script>
</body>
</html>
